/*
!/etc
/etc/*
!/etc/apparmor.d
/etc/apparmor.d/*
!/etc/mysql
/etc/mysql/debian.cnf
/etc/mysql/debian-start
/etc/mysql/conf.d
/etc/mysql/my.cnf
/etc/mysql/my.cnf.fallback
/etc/mysql/mysql.cnf
!/etc/nginx
!/etc/envoy
!/etc/systemd
/etc/systemd/*
!/etc/systemd/system
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/env
!/home/isucon/webapp
/home/isucon/webapp/nodejs
/home/isucon/webapp/ruby
/home/isucon/webapp/rust
/home/isucon/webapp/tools
!/home/isucon/report
!/home/isucon/tools
#
!.gitignore
*.swp
*.swo
*.pyc
*.pyo
node_modules
#build
#out
#dest
#target
